body {
    background-color: #403020;
    color: #ffffff;
    height: 100vh;
    margin: 0;
}
#main {
    display: flex;
    flex-flow: column;
    height: calc(100% - 10px);
    max-height: 100%;
    margin: 10px;
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#channeltitle {
    margin: 0;
    font-weight: bold;
    background-color: #483828;
    border: 1px solid lightgrey;
    text-align: center;
}
#chatlog {
    display: flex;
    flex-flow: column-reverse;
    background-color: #504030;
    flex: 1 1 auto;
}
#logbox {
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid lightgrey;
    background-color: #504030;
    scrollbar-color: #605040 #302010; /* for when electron updates to chromium 121+ */
}
#logbox::-webkit-scrollbar {
    width: 15px;
}
#logbox::-webkit-scrollbar-track { /*remove these when the above becomes valid*/
    background-color: #302010;
}
#logbox::-webkit-scrollbar-thumb {
    background-color: #605040;
}
#chatbox {
    background-color: #605040;
    color: #ffffff;
    border: 1px solid lightgrey;
    height: 20pt;
}
::placeholder {
    color: #aaaaaa;
}

.message {
    display: flex;
    width: calc(100% - 40px);
    border-top: 1px solid #ffffff20;
    margin: 5px 20px;
    white-space: pre-wrap;
}
.timestamp {
    margin-left: auto;
    color: darkgrey;
}
